*.zip
*.pyc
*.png
*.index
*.csv
*.json
*.ds_store
*.tar.gz
*.projection
*.h5
similarity_indices/**
raw_similarity_indices/**
documents/**
matrices/**
lsi_spaces/**
corpora/**
cluster_document_lists/**
dictionaries/**
